<section>
  <p>Bandeira Brasil</p>
  <div class="fundo fundoBrasil verde">
    <div class="losango"></div>
    <div class="losango-baixo"></div>
    <div class="circulo azul"></div>
  </div>
</section>

<section>
  <p>Bandeira Estados Unidos</p>
    <div class="fundo">
      <div class="retangulo azul"></div>
      <div class="listraP vermelho"></div>
      <div class="listraP"></div>
      <div class="listraP vermelho"></div>
      <div class="listraP"></div>
      <div class="listraP vermelho"></div>
      <div class="listraP"></div>
      <div class="listraP vermelho"></div>
      <div class="listraG"></div>
      <div class="listraG vermelho"></div>
      <div class="listraG"></div>
      <div class="listraG vermelho"></div>
      <div class="listraG"></div>
      <div class="listraG vermelho"></div>
    </div>
</section>

<section>
  <p>Bandeira Grecia</p>
  <div class="fundo">
    <div class="cubo azulClaro">
      <div class="vertical branco"></div>
      <div class="horozontal branco"></div>
    </div>
    <div class="listraC azulClaro"></div>
    <div class="listraC"></div>
    <div class="listraC azulClaro"></div>
    <div class="listraC"></div>
    <div class="listraC azulClaro"></div>
    <div class="listraL"></div>
    <div class="listraL azulClaro"></div>
    <div class="listraL"></div>
    <div class="listraL azulClaro"></div>
  </div>

</section>


