
<section>
  <p>Bandeira Dinarmaca</p>
  <div class="fundo">
    <div class="fundoDinarmaca vermelho">
      <div class="listraVerticalDinarmaca branco"></div>
      <div class="listraHorizontalDinarmaca branco"></div>
    </div>
  </div>

</section>

<section>
  <p>Bandeira Ucrânia</p>
    <div class="fundo">
    <div class="fundoUcrania azul"></div>
    <div class="fundoUcrania amarelo"></div>
  </div>
</section>

<section>
  <p>Bandeira Russia</p>
  <div class="badeira fundo">
    <div class="fundoRussia branco"></div>
    <div class="fundoRussia azul"></div>
    <div class="fundoRussia vermelho"></div>
  </div>
</section>

